@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
}

.gpa-usa-title {
    background-color: #BDE0FE;
    font-size: 72px;
    margin: 0px 10%;
    padding: 8% 0px;
    border-radius: 0px 0px 140px 140px;
}

.label {
    font-size: 32px;
}

.input {
    font-size: 32px;
}

.form-element {
    margin: 24px 0px;
}

.subject-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20%;    
}


/* Showing GPA Results */

.vertical-flex-score {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
}

.score-heading {
    width: 50%;
    background-color: #EEA990;
    border-radius: 0px 70px 70px 0px;
    height: 90vh;
    flex: 0 0 35vw;
    line-height: 90vh;
    margin-right: 100px;
}

#score-title {
    font-size: 64px;
}

.score-info {
    width: 35vw;
    margin: 0 10vw 0 10vw ;
}

.gpa-title {
    font-size: 48px;
    font-weight: bold;
}

.banner {
    display: flex;
    justify-content: space-evenly;
}

.gpa {
 text-align: center;
 background-color: #FFF75E;
 font-size: 64px;
 border-radius: 20px;
 padding: 70px 50px;
}

.totals {
    font-size: 36px;
}

img {
    vertical-align: middle;
}
